@import '../node_modules/bootstrap/scss/bootstrap.scss'
@import '../node_modules/fortawesome/fontawesome-free/css/all.css'

body 
    .hauteur
        font-size: 25px
    .beige 
        background-color: #f6f1e1
        color: #6c757d
    .photo1
        background-image: '../public/images/bg-header.png'
        height: 200 px
        width: auto

    
    .container .grisclair
                background-color: #dfdbce
                .gris2
                    background-color: #f0ede6
                .petit
                    font-size: 13px

                i   .rounded-circle
                    background-color: #f8f9fa
   
    #button 
        font-size: 13px
    p 
        font-size: 13px
    .col-4 
        .marine 
            background-color: #1a2c3d
            
    .fond
        background-color: #2f66db
                
    .espacement
        letter-spacing: 2px
        
        