@import '../node_modules/bootstrap/scss/bootstrap.scss'
@import '../node_modules/fortawesome/fontawesome-free/css/all.css'

body 
    .hauteur
        font-size: 25px
    .beige 
        background-color: #f6f1e1
        color: #6c757d
    .photo1
        background-image: '../public/images/bg-header.png'
        height: 200 px
        width: auto
    .nav-link
        border-bottom-left-radius: 0px !important
        border-bottom-right-radius: 0 !important
    
    .container .grisclair
                background-color: #dfdbce
                .gris2
                    background-color: #f0ede6
                .petit
                    font-size: 13px

                i   .rounded-circle
                    background-color: #f8f9fa
   
    #button 
        font-size: 13px
    p 
        font-size: 13px
    .col-4 
        .marine 
            background-color: #1a2c3d
    .col
        span
            background-color: #fff
            border-radius: 100%
            width: 3rem
            height: 3rem
            display: flex
            align-items: center
            justify-content: center
            margin: auto
            margin-top: 15px
            margin-bottom: 15px
    .fond
        background-color: #2f66db
        opacity: 0.9
        color: rgba(255,255,255, 0.5)
        a 
         color: rgba(255,255,255, 0.5)

                
    .espacement
        letter-spacing: 2px
    .fondd 
        background-color: #343a40
    footer
        opacity: 0.9
        color: rgba(255,255,255, 0.5)
        
        